# Python cache
__pycache__/
*.pyc
*.pyo

# Virtual environments
env/
venv/
py312_vol/

# Conda environments
.conda/

# Logs
*.log

# Data files
data/
*.csv
*.parquet
db/


# Notebooks checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem